* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Attributi intestazione */

img {
    height: 50px;
    width: 50px;
}

#intestazione {
    background-color: rgba(255,255,255,255);
    margin-left: 2%;
    height: 60px;
    margin-top: 1%;
    margin-bottom: 4px;
}

h1 {
    display: inline-block;
    line-height: 50%;
    vertical-align: middle;
    height: 50px;
    font-family: roboto, arial;

}

/* Fine Attributi intestazione */

/*Attributi Section 1 e 2 generali */

.background {
    background-color: rgba(255,255,255,255);
    width: 650px;
    margin: auto;
    background-position: center;
}

.background.main {
    height: 40px;
    border-radius: 10px;
}

.background.secondmain {
    height: 500px;
    border-radius: 10px;
    border-top-color: rgb(198, 191, 191);
    border-top: 10px;
}

#interlinea {
    border: 4px solid rgb(198, 191, 191);
}

#container {
    background-color: rgb(198, 191, 191);
    padding-top: 20px;
}

/* Attributi input */

#tab-uno {
    margin-left: 2%;
    margin-top: 1.5%;
    width: 80px;
    color: white;
    background-color: rgba(71,173,241,255);
    border-radius: 3px;
    border: none;
    text-align: center;
    height: 20px;
}

#tab-due {
    margin-left: 0%;
    margin-top: 1.5%;
    width: 80px;
    color: gray;
    background-color:white;
    border-radius: 3px;
    border-color: rgba(181,180,181,255);
    text-align: center;
    border: grey 1px solid;
    height: 20px;
}

/* Inizio section 2 new task - today - upcoming */
 
/* Generic */

#text-container {
    margin-left: -1%;
    padding: 3%;
}

h3 {
    color: rgba(82, 77, 77, 0.888);
    font-family: roboto, arial;
    padding-bottom: 10px;
}

h3::before {
    content: ' \25BC  ';
    font-size: 10px;
    vertical-align: middle;
    line-height: 50%;
}

/* Attributi task today e upcoming */

.task {
    font-family: roboto, arial;
}
   

.task.positive::before {
    content: ' \2713';
    color: rgb(8, 184, 8);
    background-color: white;
    border: 1px solid rgb(7, 204, 7);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;

}

.today.upcoming.task {
    font-family: roboto, arial;
}

.negative::before {
    content: ' \2717';
    color: rgb(237, 2, 2);
    background-color: white;
    border: 1px solid rgb(237, 3, 3);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
 }

 .editorial::after {
    content: '  Editorial';
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: #45abe9;
    border: none;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 15px;
    vertical-align: middle;
 }

 .goals::after {
    content: "Q Goals";
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: #9c72e4;
    border: none;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 15px;
    vertical-align: middle;
 }


 .recruting::after {
    content: "Recruting";
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: #64c0a8;
    border: none;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 15px;
    vertical-align: middle;
}

.mobile::after {
    content: "Mobile";
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: #f29e33;
    border: none;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 15px;
    vertical-align: middle;
}

.website::after {
    content: "Website";
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: #d863a0;
    border: none;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 15px;
    vertical-align: middle;
}