* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Attributi intestazione */

#intestazione {
    background-color: rgba(255,255,255);
    margin-left: 2%;
    line-height: 50%;
    vertical-align: middle;
    height: 60px;
    margin-top: 1%;
}

h1 {
    display: inline-block;
    line-height: 50%;
    vertical-align: middle;
    height: 60px;
    font-family: roboto, arial;

}

/* Fine Attributi intestazione */

/*Attributi Section 1 e 2 */

.background {
    background-color: rgb(3, 16, 196);
    width: 650px;
    margin: auto;
    background-position: center;
}

.background.main {
    height: 40px;
    border-radius: 10px;
}

.background.secondmain {
    height: 500px;
    border-radius: 10px;
    border-top-color: gray;
    border-top: 10px;
}

hr {
    border: 3px solid gray;
}

#container {
    background-color: gray;
}